@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@400;500;900&display=swap');

html,
body {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}


html {
  scrollbar-color: #555 #333;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181a1b;
  color: #c2c3bc;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  margin: 0;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #0066ff;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 20px;
  z-index: 100px;
}

hr {
  margin: 50px 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #555;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}